.preview {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.title {
    font-size: 2rem;
    color: var(--maker-green);
    padding: 0.5em;
}

.cards {
    padding: 1em;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}