.container {
    display: flex;
    flex: 1;
}

.input {
    display: none;
}

.label {
    flex: 1;
    flex-basis: 50%;
    text-align: center;
    padding: 0.5em;
    font-size: 1.2rem;
    color: var(--maker-white);
    border: none;
    background-color: var(--maker-black);
    cursor: pointer;
}