@value makerGreen, makerWhite from '../../common/colors.css';

.header {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    background: makerGreen;
}

.logo {
    width: 3em;
}

.title {
    margin: 0;
    color: makerWhite;
}